# Database connection settings
DATABASE:DRIVER=
DATABASE:HOSTNAME=
DATABASE:USER=
DATABASE:PASSWORD=
DATABASE:NAME=

# FileSystem
FS:USER=
FS:GROUP=

# Application settings
APP:NAME=
APP:KEY=
APP:URL=

# Session settings
SESSION:NAME=PHPSESSID
SESSION:LIFETIME=1200   
SESSION:PATH=/tmp
SESSION:SECURE=false
SESSION:HTTPONLY=true
SESSION:SAMESITE=lax
SESSION:COOKIE:PATH=/


# Cache settings
CACHE:DRIVER=local
CACHE:PATH=Bootstrap/Cache;


# Logging settings
LOG:DRIVE=local
LOG:PATH=/Bootstrap/Logs

# Mail settings
MAIL:DRIVER=
MAIL:HOST=
MAIL:PORT=
MAIL:USERNAME=
MAIL:PASSWORD=
MAIL:ENCRYPTION=
MAIL:FROM:ADDRESS=
MAIL:FROM:NAME=
